body {
    color: rgb(161, 103, 103);
    background-color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 10px grey;
}
